.form-enter-user{
    display: grid;
    position: absolute;
    width: 400px;
    padding: 20px;
}
.container-form{
    position: relative;
    width: 400px;
    justify-self: center;

}
.background{
position: fixed;
    background-color: #242424;
    width: 400px;
    height: 300px;
    opacity: 60%;
}
label{
    color: white;
    font-size: 18px;
}
.btn-group{
    display: grid;
    justify-self: center;
    grid-auto-flow: column;
    gap: 20px;
}