.container-addPatient-page{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    padding: 10px;
    color:white;

}

.container-forms-addPatient{
    display: grid;
   justify-items: center;
    justify-self: center;
    width: 100%;
 grid-auto-flow: column;
    gap: 20px;

}
.doctorData{
    display: grid;
    grid-auto-flow: row;
}
