label{
    color: white;
    font-size: 18px;
}
.form-enter-user{
    display: grid;
    margin-top: 30px;
    position: absolute;
    width: 400px;
    padding: 20px;

}
.container-form-addPatient{
    position: relative;
    display: grid;
    margin-top:2%;
    width: 400px;

}
.background-form{
    position: fixed;
    background-color: #161616;
    width: 400px;
    height: 500px;
    opacity: 60%;
    z-index: 0;
}
.title{
    position: absolute;
    margin-top: 10px;
    color: white;
    justify-self: center;
}
label{
    color: white;
}

.btn-submit{
    margin-left: 70%;
    margin-top: 100px;
    background-color: #c7c5c5;
}