label{
    color: white;
    font-size: 18px;
}
.form-personData{

}

.container-form-add{
    width: 400px;
    display: grid;
    grid-template-rows: 50px auto;
    background: rgba(22, 22, 22, 0.47);
    padding: 20px;
}

.title-personData{
    color: white;
    justify-self: center;
}
label{
    color: white;
}

.btn-submit{
    margin-left: 70%;
    margin-top: 100px;
    background-color: #c7c5c5;
}