.card-page-container{
    display: grid;
    width: 100%;

}
.title-card-patient{
    display: grid;
    grid-auto-flow: column;
gap: 10px;
    justify-self: center;
    width: 400px;
    color: white;
}
.card-container{
    position: relative;
    display: grid;
    justify-self: center;

}
.background-card{
    position: absolute;
  height: 93%;
    width: 89%;
    background-color: #161616;
opacity: 60%;
}
.rowCard{

    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-self: center;
    height: 100%;
}
/*.columns-card{*/
/*   background: #161616;*/

/*    height: 380px;*/
/*}*/
.btns-patient-card{
    display: grid;
height: 120px;
}
.card-patient{color:white;
    background: none;
    height: 380px;
}
