.card-page-container{
    display: grid;
    width: 100%;
}
.title-card-patient{
    display: grid;
    justify-self: center;
    width: 400px;
    grid-auto-flow: column;
    gap: 10px;
    color: white;
}
.card-container{
    justify-self: center;
    height: 100%;
}