.card-page-container{
    display: grid;
justify-self: center;
    align-self: center;
    margin-top: 40px;
}
.title-card-patient{
    display: grid;
    grid-auto-flow: column;
gap: 10px;
    justify-self: center;
    color: white;
}
.card-container{
    position: relative;
    display: grid;
    justify-self: center;

}
.background-card{
    position: absolute;
  height: 100%;
    width: 89%;
    background-color: #161616;
opacity: 60%;
}
.rowCard{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-self: center;
    height: 100%;
}

.btns-patient-card{
    display: grid;
height: 120px;
}
.card-patient{color:white;
    background: none;
    height: 380px;
}
