.form-enter-user{
    display: grid;
    align-self: center;
    justify-self: center;
    background: rgba(36, 36, 36, 0.61);
    width: 400px;
padding: 20px;
}
.icon-help{
    font-size: 30px;
    justify-self: right;
    padding-bottom: 10px;
    cursor: pointer;
    color: #a4a3a3;
}
.icon-help:hover{
    font-size: 35px;
}
.modal-help{
    display: grid;
}
.text-help{
    display: grid;
}
label{
    color: white;
    font-size: 18px;
}
.btn-group{
    display: grid;
    justify-self: center;
    grid-auto-flow: column;
    gap: 20px;
}