.header-container{
    display: grid;
    grid-auto-flow: column;
    height: 70px;
    width: 100%;
    padding-left: 10px;
    align-items: center;

}
.logo{
    color: white;
    font-size: 30px;
}
