.header-container{
    display: grid;
    grid-auto-flow: column;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    align-items: center;

}
.logo{
    color: white;
    font-size: 50px;
}
.nav-link{
    font-size: 20px;
    color: white;
}
.nav-link:hover{
    font-size: 22px;
    color: #a09f9f;
}
