.table-container{
    display: grid;
    justify-items: center;
    width: 1300px;
    margin-top: 20px;
align-self: center;
}
.title-table{
    color: white;
}
.address-cell{
    display: grid;
}
.icon-group{
    display: grid;
    grid-auto-flow: column;
}
.icon{
    cursor: pointer;
    font-size: 20px;
}
.icon:hover{
    font-size: 22px;
    color: blue;
}
.rowTable-list{
    background-color: #161616;
    color: white;
    opacity: 80%;
}
.rowTable-list:hover{
    color: black;
}
.row-cell{
    background-color: #161616;
    color: white;
}
.btns-search{
    display: grid;
    grid-auto-flow: column;
}