label{
    color: white;
    font-size: 18px;
}




label{
    color: white;
}
.btn-form-passport{
    display: grid;
   gap: 10px;
    grid-auto-flow: column;
}
.btn{
    background-color: rgba(14, 14, 14, 0.31);
    color: white;}
.title-passportData{
    color: white;
    justify-self: center;
}
