.card-page-container{
    display: grid;
justify-self: center;
    align-self: center;
    margin-top: 40px;
}
.title-card-patient{
    display: grid;
    grid-auto-flow: column;
gap: 10px;
    justify-self: center;
    color: white;
}
